@model EscolaDeVoce.Frontend.User

@{
    string fullname = Model.name + " " + Model.lastname;
    string[] names = fullname.Split(' ');
    string name = names[0];
    string lastname = names[names.Count() - 1];
     
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>
        $( "#slider" ).slider({
                value:50,
                min: 0,
                max: 100,
                step: 10,
                slide: function( event, ui ) {
                    //$( "#amount" ).val( "$" + ui.value );
                }
            });
    </script>
}

@await Component.InvokeAsync("Header")

<section id="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_NavLogged")
            </div>
        </div>
    </div>
</section>

<section id="question-section">
    <div class="container question-container">
        <div class="row">
            <div class="col-md-4 question-left-text">
                <h1 class="title">Queremos te conhecer melhor @name</h2>
                <p>
                    Com algumas perguntinhas todos os dias, vamos conhecer mais sobre você e personalizar sua jornada de crescimento.
                    Para responder é só clicar na bolinha e arrastar para a direita ou esquerda em direção à sua resposta. Quanto mais certeza você tiver, arraste a bolinha mais longe do centro.
                </p>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="question">
                    <h1 class="title">1 - Um apocalipse zumbi começou! O que você faz?</h2>
                    <div class="answers">
                        <div class="left-answer">
                            Me escondo em um sótão
                        </div>
                        <div class="right-answer">
                            Saio pelas ruas e vou à luta
                        </div>
                    </div>
                    <div class="answer-slider">
                        <div id="slider"></div>
                    </div>
                    <div class="question-buttons">
                        <button class="escola-btn">fazer o quis completo</button>
                        <button class="escola-btn escola-btn-primary right-item right-button">enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /question-section -->


@await Component.InvokeAsync("Courses", new {windowName = "Cursos em destaque", buttonName = "Veja Mais Cursos"})

<section id="prazer-de-casa-section">

    <div class="container">

        <h2 class="subsection section-title">Prazer de Casa</h2>
        <p>Faça as atividades que complementam suas aulas assistidas. É só iniciar um curso para ter atividades.</p>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <img src="~/images/dicionario.png"/>
            </div>
            <div class="col-md-6">
                <h2 class="subsection section-title">Este é seu cantinho. Bem-vinda <strong>@name</strong>!</h2>
                <p>
                    Este é o espaço para você fazer as tarefas sugeridas pela Ana Paula Padrão e pelas professoras nas aulas. Use também para registrar seus pensamentos, emoções, reflexões, a partir do seu aprendizado na Escola de Você.
                </p>
                <div>
                    <button class="escola-btn">ver meu dicionário</button><button class="escola-btn escola-btn-primary">fazer tarefa</button>
                </div>
            </div>
        </div>

    </div>

</section>

@await Component.InvokeAsync("News")

<section id="vitamina-e">

    <div class="container">

        <h2 class="subsection section-title">Vitamina E</h2>

        <div class="row body">
            <div class="col-md-6 col-md-offset-1">
                <!--<img class="img-vitamina-e" src="~/images/vitaminaevideo.jpg"/>-->
                <div id="player"></div>
                <script samba-player-api="player" type="text/javascript" src="http://player.sambatech.com.br/v3/samba.player.api.js"></script>
                <script>
                    var player = new SambaPlayer("player", { //player é o ID do elemento html que ele vai inserir o iframe
                        height: 305,
                        width: 553,
                        ph: "3b8e50510d562d8d8b101c66f59bf625",//Player Hash do projeto
                        m: "8b9be24b4e8b02667c34761231695865",//MidiaID
                        playerParams: { //Veja a lista de Parâmetros suportados
                            enableShare: true,
                            wideScreen: true
                        },
                        events: { //Funcoes que escutam os eventos do player
                            "onLoad": function(){}, //Sendo que eventListener deve ser uma função já presente na página
                            "onStart": function(){},
                            "onFinish": function(){}
                        }
                    });
                </script>
            </div>
            <div class="col-md-5 right-side">
                <h2 class="subsection section-title">Vitamina E: Energia e Excelência</h2>
                <p>
                    Seu ambiente te constrói. As grandes transformações acontecem com o possível, com o que posso realizar hoje.
                </p>
                <div class="text-right">
                    <button class="escola-btn">outras vitaminas</button>
                </div>
            </div>
        </div>

    </div>

</section>

<section id="edv-destak">

    <div class="container">

        <h2 class="subsection section-title">TD EDV Em Destaque</h2>

        <div class="row">
            <div class="col-md-6">
                <div id="player2"></div>
                <script samba-player-api="player" type="text/javascript" src="http://player.sambatech.com.br/v3/samba.player.api.js"></script>
                <script>
                    var player = new SambaPlayer("player2", { //player é o ID do elemento html que ele vai inserir o iframe
                        height: 305,
                        width: 553,
                        ph: "3b8e50510d562d8d8b101c66f59bf625",//Player Hash do projeto
                        m: "9a2c8a56778ec382667d13e4bfa51fd3",//MidiaID
                        playerParams: { //Veja a lista de Parâmetros suportados
                            enableShare: true,
                            wideScreen: true
                        },
                        events: { //Funcoes que escutam os eventos do player
                            "onLoad": function(){}, //Sendo que eventListener deve ser uma função já presente na página
                            "onStart": function(){},
                            "onFinish": function(){}
                        }
                    });
                </script>
            </div>
            <div class="col-md-6">
                <div id="player3"></div>
                <script samba-player-api="player" type="text/javascript" src="http://player.sambatech.com.br/v3/samba.player.api.js"></script>
                <script>
                    var player = new SambaPlayer("player3", { //player é o ID do elemento html que ele vai inserir o iframe
                        height: 305,
                        width: 553,
                        ph: "3b8e50510d562d8d8b101c66f59bf625",//Player Hash do projeto
                        m: "68318c03ab062dc8370387644deb08b2",//MidiaID
                        playerParams: { //Veja a lista de Parâmetros suportados
                            enableShare: true,
                            wideScreen: true
                        },
                        events: { //Funcoes que escutam os eventos do player
                            "onLoad": function(){}, //Sendo que eventListener deve ser uma função já presente na página
                            "onStart": function(){},
                            "onFinish": function(){}
                        }
                    });
                </script>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="text-right">
            <button class="escola-btn">outras vitaminas</button>
        </div>

    </div>

</section>

@await Component.InvokeAsync("Especialista")