.icons-sprite, .icons-back-arrow, .icons-camera-white, .icons-check-active, .icons-check-unactive, .icons-done, .icons-download-button, .icons-empoderamento, .icons-facebook, .icons-heart-gray, .icons-heart-pink, .icons-heart-white, .icons-instagram, .icons-little-facebook, .icons-little-share, .icons-little-star, .icons-lock-open, .icons-lock, .icons-logout-white, .icons-logout, .icons-mail, .icons-message-white, .icons-message, .icons-next-active, .icons-previews-unactive, .icons-previous-active, .icons-previous-unactive, .icons-profile, .icons-return, .icons-share, .icons-signup-facebook, .icons-signup-twitter, .icons-small-lock, .icons-star-active, .icons-star-unactive, .icons-trofeu, .icons-twitter, .icons-undone, .icons-youtube {
  background-image: url('../images/icons-s5be512af0a.png');
  background-repeat: no-repeat;
}

.icons-back-arrow {
  background-position: 0 0;
  height: 13px;
  width: 19px;
}

.icons-camera-white {
  background-position: 0 -13px;
  height: 22px;
  width: 27px;
}

.icons-check-active {
  background-position: 0 -35px;
  height: 17px;
  width: 26px;
}

.icons-check-unactive {
  background-position: 0 -52px;
  height: 17px;
  width: 26px;
}

.icons-done {
  background-position: 0 -69px;
  height: 46px;
  width: 46px;
}

.icons-download-button {
  background-position: 0 -115px;
  height: 15px;
  width: 72px;
}

.icons-empoderamento {
  background-position: 0 -130px;
  height: 106px;
  width: 106px;
}

.icons-facebook {
  background-position: 0 -236px;
  height: 53px;
  width: 25px;
}

.icons-heart-gray {
  background-position: 0 -289px;
  height: 43px;
  width: 46px;
}

.icons-heart-pink {
  background-position: 0 -332px;
  height: 46px;
  width: 50px;
}

.icons-heart-white {
  background-position: 0 -378px;
  height: 43px;
  width: 46px;
}

.icons-instagram {
  background-position: 0 -421px;
  height: 53px;
  width: 53px;
}

.icons-little-facebook {
  background-position: 0 -474px;
  height: 21px;
  width: 11px;
}

.icons-little-share {
  background-position: 0 -495px;
  height: 20px;
  width: 20px;
}

.icons-little-star {
  background-position: 0 -515px;
  height: 16px;
  width: 16px;
}

.icons-lock-open {
  background-position: 0 -531px;
  height: 48px;
  width: 37px;
}

.icons-lock {
  background-position: 0 -579px;
  height: 46px;
  width: 37px;
}

.icons-logout-white {
  background-position: 0 -625px;
  height: 20px;
  width: 25px;
}

.icons-logout {
  background-position: 0 -645px;
  height: 38px;
  width: 48px;
}

.icons-mail {
  background-position: 0 -683px;
  height: 16px;
  width: 22px;
}

.icons-message-white {
  background-position: 0 -699px;
  height: 18px;
  width: 22px;
}

.icons-message {
  background-position: 0 -717px;
  height: 38px;
  width: 46px;
}

.icons-next-active {
  background-position: 0 -755px;
  height: 49px;
  width: 49px;
}

.icons-previews-unactive {
  background-position: 0 -804px;
  height: 49px;
  width: 49px;
}

.icons-previous-active {
  background-position: 0 -853px;
  height: 49px;
  width: 49px;
}

.icons-previous-unactive {
  background-position: 0 -902px;
  height: 49px;
  width: 49px;
}

.icons-profile {
  background-position: 0 -951px;
  height: 53px;
  width: 53px;
}

.icons-return {
  background-position: 0 -1004px;
  height: 27px;
  width: 39px;
}

.icons-share {
  background-position: 0 -1031px;
  height: 38px;
  width: 38px;
}

.icons-signup-facebook {
  background-position: 0 -1069px;
  height: 90px;
  width: 90px;
}

.icons-signup-twitter {
  background-position: 0 -1159px;
  height: 90px;
  width: 90px;
}

.icons-small-lock {
  background-position: 0 -1249px;
  height: 24px;
  width: 20px;
}

.icons-star-active {
  background-position: 0 -1273px;
  height: 33px;
  width: 33px;
}

.icons-star-unactive {
  background-position: 0 -1306px;
  height: 35px;
  width: 35px;
}

.icons-trofeu {
  background-position: 0 -1341px;
  height: 18px;
  width: 19px;
}

.icons-twitter {
  background-position: 0 -1359px;
  height: 57px;
  width: 81px;
}

.icons-undone {
  background-position: 0 -1416px;
  height: 46px;
  width: 46px;
}

.icons-youtube {
  background-position: 0 -1462px;
  height: 53px;
  width: 71px;
}
