/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .icons-back-arrow, .icons-camera-white, .icons-check-active, .icons-check-unactive, .icons-done, .icons-empoderamento, .icons-facebook, .icons-heart-gray, .icons-heart-pink, .icons-heart-white, .icons-instagram, .icons-lock-open, .icons-lock, .icons-logout-white, .icons-logout, .icons-mail, .icons-message-white, .icons-message, .icons-next-active, .icons-previews-unactive, .icons-previous-active, .icons-previous-unactive, .icons-profile, .icons-return, .icons-share, .icons-signup-facebook, .icons-signup-twitter, .icons-star-active, .icons-star-unactive, .icons-twitter, .icons-undone, .icons-youtube {
  background-image: url('../images/icons-sb99e364a0b.png');
  background-repeat: no-repeat;
}

.icons-back-arrow {
  background-position: 0 0;
  height: 13px;
  width: 19px;
}

.icons-camera-white {
  background-position: 0 -13px;
  height: 22px;
  width: 27px;
}

.icons-check-active {
  background-position: 0 -35px;
  height: 17px;
  width: 26px;
}

.icons-check-unactive {
  background-position: 0 -52px;
  height: 17px;
  width: 26px;
}

.icons-done {
  background-position: 0 -69px;
  height: 46px;
  width: 46px;
}

.icons-empoderamento {
  background-position: 0 -115px;
  height: 106px;
  width: 106px;
}

.icons-facebook {
  background-position: 0 -221px;
  height: 53px;
  width: 25px;
}

.icons-heart-gray {
  background-position: 0 -274px;
  height: 43px;
  width: 46px;
}

.icons-heart-pink {
  background-position: 0 -317px;
  height: 46px;
  width: 50px;
}

.icons-heart-white {
  background-position: 0 -363px;
  height: 43px;
  width: 46px;
}

.icons-instagram {
  background-position: 0 -406px;
  height: 53px;
  width: 53px;
}

.icons-lock-open {
  background-position: 0 -459px;
  height: 48px;
  width: 37px;
}

.icons-lock {
  background-position: 0 -507px;
  height: 46px;
  width: 37px;
}

.icons-logout-white {
  background-position: 0 -553px;
  height: 20px;
  width: 25px;
}

.icons-logout {
  background-position: 0 -573px;
  height: 38px;
  width: 48px;
}

.icons-mail {
  background-position: 0 -611px;
  height: 16px;
  width: 22px;
}

.icons-message-white {
  background-position: 0 -627px;
  height: 18px;
  width: 22px;
}

.icons-message {
  background-position: 0 -645px;
  height: 38px;
  width: 46px;
}

.icons-next-active {
  background-position: 0 -683px;
  height: 49px;
  width: 49px;
}

.icons-previews-unactive {
  background-position: 0 -732px;
  height: 49px;
  width: 49px;
}

.icons-previous-active {
  background-position: 0 -781px;
  height: 49px;
  width: 49px;
}

.icons-previous-unactive {
  background-position: 0 -830px;
  height: 49px;
  width: 49px;
}

.icons-profile {
  background-position: 0 -879px;
  height: 53px;
  width: 53px;
}

.icons-return {
  background-position: 0 -932px;
  height: 27px;
  width: 39px;
}

.icons-share {
  background-position: 0 -959px;
  height: 38px;
  width: 38px;
}

.icons-signup-facebook {
  background-position: 0 -997px;
  height: 90px;
  width: 90px;
}

.icons-signup-twitter {
  background-position: 0 -1087px;
  height: 90px;
  width: 90px;
}

.icons-star-active {
  background-position: 0 -1177px;
  height: 33px;
  width: 33px;
}

.icons-star-unactive {
  background-position: 0 -1210px;
  height: 35px;
  width: 35px;
}

.icons-twitter {
  background-position: 0 -1245px;
  height: 57px;
  width: 81px;
}

.icons-undone {
  background-position: 0 -1302px;
  height: 46px;
  width: 46px;
}

.icons-youtube {
  background-position: 0 -1348px;
  height: 53px;
  width: 71px;
}
